.sort_bar {
  width: 100%;
  margin: 0 10px 10px;
  padding: 5px;
  box-shadow: 0 0 5px grey;
  border-radius: 10px;

  &__list {
    display: inline-flex;
    align-items: center;
  }

  &__item {
    margin-left: 15px;
    select {
      width: 170px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 5px grey;
    }
  }
}
