.item-page {
  max-width: 1200px;
  margin: auto;

  &__img {
    flex-basis: 30%;
    cursor: zoom-in;
    box-shadow: 5px 5px 10px $color_grey;
  }

  .desc {
    margin-left: 50px;
    flex-basis: calc(70% - 50px);

    &__list {
      margin: 20px 0 50px;
      line-height: 1.5;
    }
  }
}

.slider-clothing {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.7);

  .slide-img {
    display: flex;
    justify-content: center;
    height: 100%;

    img {
      max-height: 100%;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 15px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: $color_grey;
  }

  .arrow {
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: $color_grey;
    border-radius: 50%;
    padding: 5px 15px;
    user-select: none;
  }

  &__next {
    left: 50px;
  }
  &__prev {
    right: 50px;
  }

  .preview-slider {
    height: 150px;
    position: absolute;
    bottom: -130px;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.75);
    transition: bottom 0.3s;
    text-align: center;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;

    &:hover {
      bottom: 0;
    }

    &__image {
      height: 100%;
      margin: 0 10px;
      border: 1px solid #fff;
      cursor: zoom-in;

      img {
        max-height: 100%;
      }
    }
  }
}

@media (max-width: 535px) {
  .item-page__img {
    flex-basis: 100%;
  }
}
